{{ $page_language := .Params.language }} 
<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<title>TravenUp</title>
<meta name="description" content="">
<link rel="shortcut icon" href="/images/favicon.ico" />
{{ partial "styles.html" . }}
</head>

<body>
	<div class="navbar-wrapper">
      <div class="container">
		{{ partial "nav.html" . }}       
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
		{{ range $.Site.Data.banner }}
			{{ if eq .banners.language $page_language }}
				{{ $banner := .banners.first}}
				<div class="item active" style="background-image: url(/images/banner-{{ $banner.index }}.jpg); background-repeat: no-repeat; background-position: center; background-size: auto 100%;">
					<div class="container">
						<blockquote class="blockquote-{{ $banner.index }}">
							<p>{{ $banner.quote }}</p>
							<footer>{{ $banner.quotefooter }}</footer>
						</blockquote>
						<div class="carousel-caption">
						  <h1>{{ $banner.maintext }}</h1>
						  <p>{{ $banner.subtext }}</p>
						  <p><a class="btn btn-lg btn-primary" href="#" role="button">{{ $banner.button }}</a></p>
						</div>
					</div>
				</div>
				{{ $banner := .banners.second}}
				<div class="item" style="background-image: url(/images/banner-{{ $banner.index }}.jpg); background-position: center; background-size: auto 100%; ">
					<div class="container">
						<blockquote class="blockquote-{{ $banner.index }}">
							<p>{{ $banner.quote }}</p>
							<footer>{{ $banner.quotefooter }}</footer>
						</blockquote>
						<div class="carousel-caption">
						  <h1>{{ $banner.maintext }}</h1>
						  <p>{{ $banner.subtext }}</p>
						  <p><a class="btn btn-lg btn-primary" href="#" role="button">{{ $banner.button }}</a></p>
						</div>
					</div>
				</div>
			{{ end }}
		{{ end }}

      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

	
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>

</html>
