<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>TravenUp - {{ .Title }}</title>
<meta name="description" content="{{ .Description }}">
{{ partial "styles.html" . }}
</head>

<body class="single">

<div class="banner">
{{partial "nav.html" . }}
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled tu-side-menu">
        	<li><a href="#">Who We Are <span class="ico-box-int">></span></a></li>
            <li><a href="#">What Information Do We Collect? <span class="ico-box-int">></span></a></li>
            <li><a href="#">Cookies, and How We Use Them <span class="ico-box-int">></span></a></li>
            <li><a href="#">Email Communications  <span class="ico-box-int">></span></a></li>
            <li><a href="#">Listing, Partners and Suppliers<span class="ico-box-int">></span> </a></li>
            <li><a href="#">Our Security and Storage Measures <span class="ico-box-int">></span></a></li>
            <li><a href="#">Changes to Our Privacy Policy<span class="ico-box-int">></span>  </a></li>
            <li><a href="#">Contacting Us<span class="ico-box-int">></span> </a></li>
			
			</ul>
		</div>
		<div class="col-md-8 tu-contents">
        <h1>{{ .Title }}</h1>
		 {{ .Content }}
		</div>
	</div>
</div>


{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}
</body>
</html>
