{{ $page_language := .Params.language }}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>TravenUp - {{ .Title }}</title>
<meta name="description" content="{{ .Description }}">
{{ partial "styles.html" . }}
</head>

<body class="single">

<div class="banner">
{{partial "nav.html" . }}
</div>

<div class="container">
	{{ if ne .Params.sidemenu false }}
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled tu-side-menu">
			{{ range .Site.Pages  }}
			    {{ if eq .Params.language $page_language }}
					{{ if ne .Type "homepage" }}
						<li>
							<a href="{{ .RelPermalink }}">{{ .Title }}<span class="ico-box-int">></span></a>
						</li>
					{{ end }}
				{{ end }}
			{{ end }}
			</ul>
		</div>
		<div class="col-md-8 tu-contents">
		 {{ .Content }}
		</div>
	</div>
	{{ else }}
		<div class="tu-contents">
{{ .Content }}
		</div>
	{{ end }}
</div>


{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}
</body>
</html>
