<footer class="footer-travenup">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h2>Company</h2>
				<a href="index.html">Home </a><br />
				<a href="/about/">About </a><br>
				<a href="/tips/">Tips</a><br>
				<!--<a href="#">Jobs</a><br>
				<a href="#">Policies</a><br>
				<a href="#">Terms & Privacy</a>  		-->
			</div>
			<div class="col-sm-3">
				<h2>Company</h2>
				<a href="index.html">Home </a><br />
				<a href="/about/">About </a><br>
				<a href="/tips/">Tips</a><br>
				<!--<a href="#">Jobs</a><br>
				<a href="#">Policies</a><br>
				<a href="#">Terms & Privacy</a>  		-->
			</div>
			<div class="col-sm-6">
				<h2>Download our free mobile app</h2>
           	  <a id="box-img1"><img src="/images/app1.jpg"></a>
              <a id="box-img2"><img src="/images/app2.jpg"></a>
              <p class="copyright">Copyright 2015 - TravenUp - All rights reserved</p>
			</div>			
		</div>
		<hr/>
		<div class="text-center">
			<h2>Join Us On</h2>
			<img src="/images/fd-face.fw.png">
			<img src="/images/fd-twi.png">
			<img src="/images/fd-in.png">
			<img src="/images/fd-in.png">
			<img src="/images/fd-goog.png">
		</div>
		
	</div><!-- ./container -->
</footer>