{{ $baseurl := .Site.BaseURL }}
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>	


	<!-- Sumome.com 
	<script src="//load.sumome.com/" data-sumo-site-id="4acca8691d2347852b9e848df9e8d62dddaf733a5ff25b9ba2f9039337635af8" async="async"></script>	-->