{{ $baseurl := .Site.BaseURL }}
    <!-- Bootstrap core CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!--http://getbootstrap.com/examples/carousel/-->
	<link href="{{ $baseurl }}/css/carousel.css" rel="stylesheet">

	<!-- TravenUp Style -->
	<link rel="stylesheet" href="{{ $baseurl }}/css/tusite-style.css">
	
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
