{{ $baseurl := .Site.BaseURL }}
        		<a href="{{ $baseurl }}/index.html">Home </a>
        		<a href="{{ $baseurl }}/about/">About </a>
                <a href="{{ $baseurl }}/tips/">Tips</a>
              	<a href="http://insider.travenup.com/signin">Sign Up</a>
              	<a href="http://insider.travenup.com/signin">Log In</a>
                <!--<a href="#">Help</a>-->
                <a href="http://insider.travenup.com/newInsider/newExperience" class="verde">CADASTRE SEU SERVIÇO AQUI</a>