
<footer class="footer-travenup">
	<div class="container">
		<div class="row">
			{{ if eq .Params.language "pt"}}
				<div class="col-sm-3">
					<h2>Mais</h2>
					<a href="/">English site</a>
				</div>
				<div class="col-sm-3">
					<h2>Companhia</h2>
					<a href="/pt-br">Home </a><br />
					<a href="/pt/sobre">Sobre</a><br>
					<a href="/pt/help/recomendacoes">Recomendações</a><br>
				</div>
				<div class="col-sm-6">
					<h2>Faça o download do aplicativo</h2>
					<a id="box-img1"><img src="/images/app1.jpg"></a>
					<a id="box-img2"><img src="/images/app2.jpg"></a>
					<p class="copyright">Copyright 2015 - TravenUp - Todos os direitos reservados</p>
				</div>			
			{{ else }}
				<div class="col-sm-3">
					<h2>More</h2>
					<a href="/pt-br">Em Português</a>
				</div>
				<div class="col-sm-3">
					<h2>Company</h2>
					<a href="/">Home </a><br />
					<a href="/about/">About </a><br>
					<a href="/tips/">Tips</a><br>
				</div>
				<div class="col-sm-6">
					<h2>Download our free mobile app</h2>
				  <a id="box-img1"><img src="/images/app1.jpg"></a>
				  <a id="box-img2"><img src="/images/app2.jpg"></a>
				  <p class="copyright">Copyright 2015 - TravenUp - All rights reserved</p>
				</div>			
			
			{{ end }}
		</div>
		<hr/>
		<div class="text-center">
			<h2>Join Us On</h2>
			<img src="/images/fd-face.fw.png">
			<img src="/images/fd-twi.png">
			<img src="/images/fd-in.png">
			<img src="/images/fd-in.png">
			<img src="/images/fd-goog.png">
		</div>
		
	</div><!-- ./container -->
</footer>