
<nav class="navbar navbar-travenup  navbar-static-top" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#travenup-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		{{ if or (eq .Params.language "pt") (and .IsNode (eq .Site.LanguageCode "pt")) }}
		<a class="navbar-brand" href="/pt-br">TravenUp</a>
		{{ else }}
		<a class="navbar-brand" href="/">TravenUp</a>
		{{ end }}
    </div>

	<div class="collapse navbar-collapse" id="travenup-navbar-collapse-1">
	{{ if or (eq .Params.language "pt") (and .IsNode (eq .Site.LanguageCode "pt")) }}
		<a href="http://insider.travenup.com/newInsider/newExperience" class="btn btn-success navbar-btn navbar-right">CADASTRE SEU ANÚNCIO. Grátis!</a>
=======
		<ul class="nav navbar-nav navbar-right">
			<li>
		   		<a href="/pt-br">Home</a>
			</li>
			<li>
        		<a href="/pt/sobre">Sobre</a>
			</li>
			<li>
                <a href="/pt/ajuda/dicas">Dicas</a>
			</li>
			<li>
              	<a href="http://insider.travenup.com/signin">Cadastre-se</a>
			</li>
			<li>
              	<a href="http://insider.travenup.com/signin">Log In</a>
                <!--<a href="#">Help</a>-->
			</li>
		</ul>
	  {{ else }}
		<a href="http://insider.travenup.com/newInsider/newExperience" class="btn btn-success navbar-btn navbar-right">LIST HERE. It's free!</a>
		<ul class="nav navbar-nav navbar-right">
			<li>
		   		<a href="/">Home </a>
			</li>
			<li>
        		<a href="/en/about">About </a>
			</li>
			<li>
                <a href="/en/help/tips">Tips</a>
			</li>
			<li>
              	<a href="http://insider.travenup.com/signin">Sign Up</a>
			</li>
			<li>
              	<a href="http://insider.travenup.com/signin">Log In</a>
                <!--<a href="#">Help</a>-->
			</li>
		</ul>	  
	  {{ end }}
	</div><!-- /.navbar-collapse -->


  </div><!-- /.container -->
</nav>
